
input::placeholder  {    
      font-style: normal;
      font-size: 9px;
      font-weight: 100;
      color: rgb(171, 171, 171);
      color: var(--font-color)
  }
a {
   text-decoration: none; 
   color: black;
  }
.App {
  background-color: var( --background);
  color: var(--font-color);
  min-height: 100vh;
  }

.bar{
  display: flex;
  align-items: flex-end;
  background-color: var( --details);
  padding:20px;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
nav{
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.1);
}
.bar .title{
font-weight: 600;
padding-left: 10px;
margin-right: auto  ;
}
.bar-button{
  margin-left: auto;
  padding-right: 45px;
}
.bar-button button{
  border: 0px;
  font-weight: 100;
  background-color:  var( --details);
  border-radius:5px;
  color: var(--font-color);
}
.bar-button button i{
  padding-right: 5px;
  font-weight: 100;
}
.filter{
  margin:20px;
  display: flex;

}
.filter-country{
  padding:10px;
  border-radius:5px;
  border:1px;
  width:300px;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.1);
  background-color: var(--filter);
  color: var(--font-color)
}

.filter-select {  
  margin-left: auto;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.1);
}
.filter-select select{
  font-size: 9px;
  padding:10px;
  border-radius:5px;
  border:1px;
  width:150px;
  background-color: var(--filter);
  color: var(--font-color)
}
.cardsWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}
.cards{
  background-color: var(--details);
  max-width:150px;
  margin: 30px;  
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.049);
  border-radius: 5px;
  }
.flag img{
max-height: 100px;
object-fit: cover;
border-radius:  2px 2px 0 0;
}
.card .generalData{
  font-size: 10px;
  margin: 10px;
  padding-bottom: 10px;
  color: var(--font-color);
}
.card .generalData .name{
  font-weight: 800;
  padding-bottom: 5px;
 }

.card .generalData .details p{
  font-size: 9px;
  margin:  5px 0 ; 
}

.detail{
  margin-top: -19px;
  background-color: var( --background);
  padding: 19px 10px 0px 30px  ;
  display: flex;
  flex-direction: column;
  }
.detail .detailData{
  margin: 10px 30px 10px 30px;
  margin-right: 0;

 }
.detail .detailData .name{
  font-weight: 600;
  font-size: 18px;
}
.detail .detailData .details{
  font-weight: 200;
  font-size: 11px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}
.alignment-detail {
  display: flex;
  padding-top: 20px;
}
button.borders{
  background-color:  var( --details);
  border: none;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2px 15px 2px 15px; 
  font-size: 8px;
  margin: 0 3px 1px 1px ;
  color: var(--font-color);
 }

button.back-btn{
  background-color:  var( --details);
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px 20px 5px 20px; 
  font-size: 9px;
  margin: 0 3px 1px 1px ;
  color: var(--font-color);
 }

 button.back-btn span{
  padding-right: 5px;
  
 }

span.detail-info{
  font-weight: 600;
}

a.back{
  margin-top: 0px;
  margin-right: 90px;
  }

@media (max-width:650px)  {
   
  .cardsWrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
  }
  .detail{
    flex-direction: column;
    margin-top: -19px;
    padding-left: 20px;
  }

.detail .detailData .details{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}
.filter{
  flex-direction: column;
  align-content: center;
  margin: 5px;
}
.filter-country{
  margin-right: 50px;
  max-width: 250px
}
.filter-select{
  margin-top: 10px;
  margin-right: auto;
}
.bar{
  padding: 15px;
}
.bar .title{
  padding: 0;
  font-size: 12px;
}
.bar-button{
  padding: 0;
  
}
.bar-button button{
  font-size: 8px;
}
.alignment-detail{

  flex-direction: column;
}
}

@media (max-width:850px) and (min-width: 650px) {
   
  .cardsWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
  }
  
}

