:root {
  --white-background: hsl(0, 0%, 98%);
  --white-details: hsl(0, 0%, 100%)
}

.App {
  margin: 10px;
  background-color: var(--white-background)
}

.bar{
  display: flex;
  background-color:  var( --white-details);
  padding:20px
}
.bar-button{
  margin-left: auto;
  padding-right: 45px;
}
.bar-button button{
  border: 0px;
  
  background-color:  var( --white-details);
  border-radius:5px;
}
.filter{
  margin:20px;
  display: flex;
}
.filter-country{
  padding:10px;
  border-radius:5px;
  border:1px;
  width:300px
}
.filter-select {
margin-left: auto;
}
.filter-select select{
  padding:10px;
  border-radius:5px;
  border:1px;
  width:150px
}